#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Plus Jakarta Sans', Courier, monospace;
}

.contact-modal {
  /* Animacja dla wszystkich przeglądarek */
  -webkit-animation: fadeInScale 0.3s ease-out;
  /* Safari, Chrome */
  -moz-animation: fadeInScale 0.3s ease-out;
  /* Firefox */
  -o-animation: fadeInScale 0.3s ease-out;
  /* Opera */
  animation: fadeInScale 0.3s ease-out;
  /* Standard */

  /* Inne style domyślne */
  margin: 0;
}

/* Animacja keyframes dla wszystkich przeglądarek */
@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}